@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --red:#FF7A7A;
    --green:#00f600;
    --white:#f8f8ff;
    --grey:#d3d3d3;
    --black:#141414;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('/static/images/background.fb4f69c6e93f.webp');
    background-size: cover;
    background-position: center;
    font-size: 1.6rem;
    font-family: 'Sono', sans-serif;
}

.container {
    width: 100%;
    background-color: var(--grey);
    padding: 20px;
    box-shadow: 0 0 10px var(--black);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.container-accord {
    width: 100%;
    background-color: var(--black);
    padding: 20px;
    box-shadow: 0 0 10px var(--black);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

/* Header */

h1,h2,h3,h4 {
    color: var(--black);
    font-family: 'Merriweather', sans-serif;
}

.page-header {
    color: var(--black) !important;
    font-size: 3rem;
}

/* Fonts */

.text-xs {
    font-size: 1.2rem;
}

.text-sm {
    font-size: 2rem;
}

.text-md {
    font-size: 3rem;
}

.text-lg {
    font-size: 4rem;
}

.text-xl {
    font-size: 5rem;
}


/* Base css */

.navbar {
    padding: .5rem 0;
  }
  
  .navbar-brand {
    padding: 0 1.5rem;
    font-size: 3rem;
    line-height: 5rem;
  }
  
  .nav-link {
    padding: .5rem .5rem;
    margin-left: .5rem;
  }

  .navbar-toggler{
    margin-right: 1rem;
  }

nav.navbar {
    background-color: var(--black);
    font-family: 'Sono', sans-serif;
  }
  
  nav.navbar .navbar-brand {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav.navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 1.5rem;
  }
  
  nav.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--red);
  }
  
  nav.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 1.5rem;
  }
  
  nav.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: var(--red);
  }
  

#user-name {
    color: var(--red);
    font-size: 1.5rem;
    margin-right: .5rem;
  }

.log-link {
    margin-right: 1rem;
    margin-left: 1rem;
}

  footer {
    background-color: var(--black);
    color: #fff;
    padding: 2rem;
}

footer a {
    color: var(--white);
}

footer a:hover {
    text-decoration: none;
}

footer .btn-floating {
    background-color: var(--white);
    color: var(--black);
}

footer .btn-floating:hover {
    background-color: var(--black);
    color:var(--white);
}

.footer-link{
    padding: 1rem;
    margin: 0 2rem !important;
}

@media screen and (max-width: 920px) {

    nav.navbar .navbar-nav .nav-item .nav-link {
        font-size: 1.3rem;
        padding-left: 1rem;
    }

    #user-name {
        color: var(--red);
        font-size: 1rem;
        margin-right: 0;
        margin-left: .5rem;
    }
    
    .log-link {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {

    nav.navbar .navbar-brand {
        font-size: 1.6rem;
    }



    .navbar-toggler {
        padding: 1.8rem;
        border-width: .4rem;
    }
}

/* Page css section */

/* index page*/

.future-header {
    font-size: 2.5rem;
    text-decoration: underline;
    color: var(--red);
}

.accordion {
    background-color: var(--black);
    color: var(--red);
    cursor: pointer;
    padding: 1.5rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: var(--grey);
    color: var(--black);
}

.panel {
    padding: 0 1.5rem;
    background-color: var(--black);
    color: var(--grey);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}

@media screen and (max-width:768px){

    .future-col{
        margin-bottom: 1rem;
    }
}

/* Season page */

.season-info {
    margin: 40px auto;
    padding: 20px;
}

@media screen and (max-width:768px) {
    
    .season-info {
        margin: 0 auto;
    }

    .summary-season {
        font-size: 1.3rem;
    }

    .table td, .table th {
        vertical-align: middle;
    }

    .ep-font{
        font-size: 1.2rem;
        text-align: center;
    }

    

}

@media screen and (max-width:576px) {
    .ep-font a {
        text-align: center;
    }
}

/* Community */
.post-card {
    margin-top: 1rem;
    background-color: var(--black);
    color: var(--white);
    height: 32rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post-description {
        height: 100%;
        overflow: hidden;
}

.post-name{
    height: 6rem;
}


#section-header{
    color: var(--red);
    text-decoration: underline;
}

.section-font{
    font-size: 1.6rem;
    color: var(--red);
}

#section-container {
    background-color: var(--black);
}

@media screen and (max-width:990px) {

    .post-name {
        font-size: 1.3rem;
        height: 9rem;
    }

    .post-description {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width:760) {
    
    .post-name {
        font-size: 1.3rem;
        height: 3rem;
    }
}

/* Post Form */
.custom-select {
    height: 100%;
}


/*Post view*/

#post-name {
    color: var(--white);
    text-decoration: underline;
}

#post-card {
    border: 2px solid var(--white);
    background-color: var(--black);
    color: var(--white);
    padding: 2rem;
}

#comment-card {
    background-color: var(--grey);
    color: var(--black);
    margin-top: .5rem;
    padding: 1rem;
    box-shadow: .2rem .4rem .4rem .2rem var(--grey);
    
}

#comment-input {
    width:100%;
    border: .3rem solid var(--black);
    padding: 1rem;
    font-size: 1.4rem;
    font-family: 'Sono', sans-serif;
    color: var(--black);
    background-color: var(--grey);
}

textarea::placeholder {
    color: var(--white);
    font-style: italic;
}

/* styles for like/dislike button */

.btn-unlike {
    color: var(--grey) ;
    border: none;
    background: transparent;
}


.btn-like {
    color: var(--green);
    border: none;
    background: transparent;
}

.btn-unlike:hover,
.btn-unlike:active {
    color: var(--green);
    background: transparent;
    border: none;
}

.btn-undislike {
    color: var(--grey) ;
    border: none;
    background: transparent;
}

.btn-dislike {
    color: var(--red);
    background: transparent;
    border: none;
}

.btn-undislike:hover,
.btn-undislike:active {
    color: var(--red);
    background: transparent;
    border: none;
}

.green-icon {
    color: var(--green);
}

.red-icon {
    color: var(--red);
}

/* Request page */

.request-question {
    font-size: 1.2rem;
    text-decoration: underline;
}
