{% extends "base.html" %}
{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h1>Delete Requests</h1>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Episode to delete</th>
        <th>Reason</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for delete_request in delete_requests %}
        <tr>
          <td>{{ delete_request.user }}</td>
          <td>{{ delete_request.object_to_delete }}</td>
          <td>{{delete_request.reason}}</td>
          <td>
            <form method="post" action="{% url 'approve_delete_request_confirm' delete_request.pk %}">
              {% csrf_token %}
              <input type="hidden" name="action" value="approve">
              <button type="submit">Approve</button>
          </form>
          <form method="post" action="{% url 'reject_delete_request_confirm' delete_request.pk %}">
              {% csrf_token %}
              <input type="hidden" name="action" value="reject">
              <button type="submit">Reject</button>
          </form>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No delete requests</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h1>Pending Episode Approval Requests</h1>
      <table>
        <thead>
          <tr>
            <th>Episode Title</th>
            <th>Submitted By</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for approval_request in approval_requests %}
            <tr>
              <td>{{ approval_request.object_to_approve}}</td>
              <td>{{ approval_request.user.username }}</td>
              <td>
                <form method="post" action="{% url 'approve_add_request_confirm' approval_request.pk %}">
                  {% csrf_token %}
                  <input type="hidden" name="req_{{ approval_request.id }}" value="approve">
                  <button type="submit">Approve</button>
              </form>
              <td>
                <form method="post" action="{% url 'reject_add_request_confirm' approval_request.pk %}">
                  {% csrf_token %}
                  <input type="hidden" name="req_{{ approval_request.id }}" value="reject">
                  <button type="submit">Reject</button>
              </form>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3">No add requests</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  


{% endblock %}