{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Approve Add Request</h1>
  <p>Are you sure you want to approve the Add request for {{ approval_request.object_to_approve }}?</p>
  <p>Episode Title: {{ episode_data.title }}</p>
  <p>Overall Episode: {{ episode_data.overall_episode_number }}</p>
  <p>Season Episode Number: {{ episode_data.season_episode_number }}</p>
  <p>Synopsis: {{ episode_data.synopsis }}</p>
  <p>Plot: {{ episode_data.plot | safe }}</p>
  <p>Original Air Date: {{ episode_data.air_date }}</p>
  <p>Stardate: {{episode_data.stardate}} </p>
  {% if reason %}
    <p><strong>Reason:</strong> {{ reason }}</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <button type="submit" name="approve_confirm" value="true">Yes, approve</button>
    <a href="{% url 'admin-request' %}">No, go back</a>
  </form>
</div>
{% endblock %}