{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="page-header">Approve Add Request</h1>
  <p class="request-question"><strong>Are you sure you want to approve the Add request for</strong> {{ approval_request.object_to_approve }}</p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><strong>Episode Title:</strong></td>
          <td>{{ episode_data.title }}</td>
        </tr>
        <tr>
          <td><strong>Overall Episode:</strong></td>
          <td>{{ episode_data.overall_episode_number }}</td>
        </tr>
        <tr>
          <td><strong>Season Episode Number:</strong></td>
          <td>{{ episode_data.season_episode_number }}</td>
        </tr>
        <tr>
          <td><strong>Synopsis:</strong></td>
          <td>{{ episode_data.synopsis }}</td>
        </tr>
        <tr>
          <td><strong>Plot:</strong></td>
          <td>{{ episode_data.plot | safe }}</td>
        </tr>
        <tr>
          <td><strong>Original Air Date:</strong></td>
          <td>{{ episode_data.air_date }}</td>
        </tr>
        <tr>
          <td><strong>Stardate:</strong></td>
          <td>{{ episode_data.stardate }}</td>
        </tr>
        <tr>
          <td><strong>Reason:</strong></td>
          <td>{{ reason }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success" name="approve_confirm" value="true">Yes, approve</button>
    <a href="{% url 'admin-request' %}" class="btn btn-secondary">No, go back</a>
  </form>
</div>
{% endblock %}