{% extends "base.html" %}
{% block content %}
<h1>community</h1>
<div class="container">
    <div class="row ">
        <div class="col text-center">
            <h3 id="section-header">Choose Section</h3>
            <hr>
        </div>
    </div>

    <div class="row text-center" id="topic-section">
        <div class="col">
            <a href="{% url 'community' %}">All</a>
        </div>
    
        {% for section in sections %}
            {% if forloop.counter0|divisibleby:2 %}
                </div><div class="row text-center">
            {% endif %}
            <div class="col{% if sections|length == 2 %}-6{% endif %}">
                <a href="{% url 'community' %}?q={{section.section}}">{{ section.section }}</a>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            {% if request.user.is_authenticated %}
            <a href="{% url 'create-post' %}">Create Post</a>
            {% endif %}
        </div>
    </div>
    <div>
        {% for post in posts %}
        <div>
            {% if post.pinned %}
            <p><strong>PINNED</strong></p>
            {% endif %}
            {% if request.user == post.created_by %}
            <a href="#">Edit Post</a>
            <a href="{% url 'delete-post' post.id %}">Delete Post</a>
            {% endif %}
            <p>{{ post.section.section }}</p>
            <p>{{post.created_by.username}}</p>
            <p>{{ post.id }} -- <a href="{% url 'post' post.id %}">{{ post.name }}</a></p>
            <small>{{ post.section.name }}</small>
            <p>{{ post.description | safe }}</p>
            <div>Likes: <span id="likes-count-{{ post.id }}">{{ post.likes.count }}</span></div>
            <div>Disikes: <span id="likes-count-{{ post.id }}">{{ post.dislikes.count }}</span></div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Display pagination links here -->
{% if posts.has_other_pages %}
  <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">&lsaquo; previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endif %}

{% endblock content %}