{% extends "base.html" %}
{% block content %}
<h1>community</h1>
<div>
<h3>Choose Section</h3>
<hr>

<div>
    <a href="{% url 'community' %}">All</a>
</div>
<hr>
{% for section in sections %}
<div>
    <a href="{% url 'community' %}?q={{section.section}}">{{ section.section }}</a>
</div>
<hr>
{% endfor %}
{% if request.user.is_authenticated %}
<a href="{% url 'create-post' %}">Create Post</a>
{% endif %}
<div>
{% for post in posts %}
<div>
    {% if post.pinned %}
    <p><strong>PINNED</strong></p>
    {% endif %}
    {% if request.user == post.created_by %}
    <a href="#">Edit Post</a>
    <a href="{% url 'delete-post' post.id %}">Delete Post</a>
    {% endif %}
    <p>{{ post.section.section }}</p>
    <p>{{post.created_by.username}}</p>
    <p>{{ post.id }} -- <a href="{% url 'post' post.id %}">{{ post.name }}</a></p>
    <small>{{ post.section.name }}</small>
    <p>{{ post.description }}</p>
    <div>Likes: <span id="likes-count-{{ post.id }}">{{ post.likes.count }}</span></div>
    <div>Disikes: <span id="likes-count-{{ post.id }}">{{ post.dislikes.count }}</span></div>
    <hr>
    </div>
{% endfor %}
</div>
</div>
{% endblock content %}

<script>

  </script>