{% extends "base.html" %}
{% block content %}
<div class="container">
<h1 class="page-header">Delete Request</h1>
<form method="POST" id="deleteForm">
    {% csrf_token %}
    <label for="reason-text">Please give a reason for deletion:</label>
    <br>
    <textarea id="reason-text" name="reason"></textarea>
    <br>
    <p>Are you sure you want to send a request to delete "{{obj}}"?</p>
    <button class="btn btn-primary type="submit" name="delete" value="true">Yes, send request</button>
    <a href="{{request.META.HTTP_REFERER}}"><button class="btn btn-secondary">Go Back</button></a>
</form>

</div>

{% endblock content %}