{% extends "base.html" %}

{% block content %}
<h1> INDEX</h1>
<form method="POST" action="{% url 'search-query' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
    <button class=" btn btn-outline-secondary" type="submit"></button>
</form>

<div class="image-container">
    <img class="img-fluid" src="/static/images/error.jpg" alt="404-error">
</div>


{% if user.is_superuser %}
<a href="{% url 'admin-request' %}">Admin request list</a>
{% endif %}
{% endblock %}