{% extends "base.html" %}
{% block content %}
<div class="container">
    <div id="post-card">
        <h1 id="post-name">{{ post.name }}</h1>

        <div>{{ post.description | safe }}</div>


        {% if request.user.is_authenticated %}
        <div class="row mx-auto">
            <div class="col-auto">
                <form action="{% url 'like_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="post_id" value="{{ post_id }}" aria-label="Like post" class="btn-like"><i
                            class="fa-regular fa-thumbs-up" aria-label="Like post: {{ post.name }}"></i></button>
                    {% else %}
                    <button type="submit" name="post_id" value="{{ post_id }}" class="btn-unlike" aria-label="unLike post"><i
                            class="fa-regular fa-thumbs-up" aria-label="Unlike post: {{ post.name }}"></i></button>
                    {% endif %}
                </form>
                <div>Likes: <span>{{ total_likes }}</span></div>
            </div>
            <div class="col-auto">
                <form action="{% url 'dislike_post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if disliked %}
                    <button type="submit" name="post_id" value="{{ post_id }}" class="btn-dislike"><i
                            class="fa-regular fa-thumbs-down" aria-label="dislike"></i></button>
                    {% else %}
                    <button type="submit" name="post_id" value="{{ post_id }}" class="btn-undislike" aria-label="undisike"><i
                            class="fa-regular fa-thumbs-down"></i></button>
                    {% endif %}
                </form>
                <div>Dislikes: <span>{{ total_dislikes }}</span></div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="container c">
        <h3>Comments</h3>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST">
                {% csrf_token %}
                <textarea id="comment-input" name="body" placeholder="Write your comment here..." rows="4"
                    cols="22"></textarea>
                <br>
                <button class="btn btn-success btn-lg" >Submit</button>
            </form>
        </div>
        {% endif %}
        {% for comment in post_comments %}
        <div id="comment-card">
            <div>
                <p>{{ comment.body }}</p>
                <small>{{ comment.user }} Posted: {{ comment.created|timesince }} ago </small>
                {% if request.user == comment.user or perms.community.delete_comment %}
                <br>
                <a href="{% url 'delete-comment' comment.id %}"><button class="btn btn-primary mt-2">Delete Comment</button></a>
                {% endif %}
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}