{% extends "base.html" %}
{% block content %}

<h1>{{ post.name }}</h1>

<p>{{ post.description }}</p>

<div class="comment-container">
    <h3>Comments</h3>
    <hr>

    {% for comment in post_comments %}
        <div>
            {% if request.user == comment.user %}
            <a href="{% url 'delete-comment' comment.id %}">Delete Comment</a>
            {% endif %}
            <p>{{ comment.body }}</p>
            <small>{{ comment.user }} {{ comment.created|timesince }} ago </small>
            <hr>
        </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form action="" method="POST" >
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your comment here..."  >
    </form>
</div>
{% endif %}

{% endblock content %}