{% extends "base.html" %}
{% block content %}

<h1>{{ post.name }}</h1>

<p>{{ post.description | safe }}</p>

{% if request.user.is_authenticated %}
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{ post_id }}" class="btn btn-danger btn-sm" >Unlike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ post_id }}" class="btn btn-primary btn-sm" >Like</button>
        {% endif %}
    </form>
    <div>Likes: <span>{{ total_likes }}</span></div>

    <form action="{% url 'dislike_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if disliked %}
            <button type="submit" name="post_id" value="{{ post_id }}" class="btn btn-primary btn-sm" >Undislike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ post_id }}" class="btn btn-danger btn-sm" >Dislike</button>
        {% endif %}
    </form>
    <div>Likes: <span>{{ total_dislikes }}</span></div>
{% endif %}
    
    
    <hr>

<div class="comment-container">
    <h3>Comments</h3>
    <hr>

    {% for comment in post_comments %}
        <div>
            {% if request.user == comment.user or perms.community.delete_comment %}
            <a href="{% url 'delete-comment' comment.id %}">Delete Comment</a>
            {% endif %}
            <p>{{ comment.body }}</p>
            <small>{{ comment.user }} {{ comment.created|timesince }} ago </small>
            <hr>
        </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form action="" method="POST" >
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your comment here..."  >
    </form>
</div>
{% endif %}

{% endblock content %}