{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="page-header">Reject Edit Request</h1>
  <p class="request-question"><strong>Are you sure you want to reject the edit request for</strong> {{ edit_request.object_to_approve }}?</p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Overall Episode:</td>
          <td>{{ episode.overall_episode_number }}</td>
        </tr>
        <tr>
          <td>Season Episode Number:</td>
          <td>{{ episode.season_episode_number }}</td>
        </tr>
        <tr>
          <td>Synopsis:</td>
          <td>{{ episode.synopsis }}</td>
        </tr>
        <tr>
          <td>Plot:</td>
          <td>{{ episode.plot|safe }}</td>
        </tr>
        <tr>
          <td>Original Air Date:</td>
          <td>{{ episode.air_date }}</td>
        </tr>
        <tr>
          <td>Stardate:</td>
          <td>{{episode.stardate}}</td>
        </tr>
          <tr>
            <td><strong>Reason:</strong></td>
            <td>{{ reason }}</td>
          </tr>
      </tbody>
    </table>
  </div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" name="reject_confirm" value="true" class="btn btn-danger">Yes, reject</button>
    <a href="{% url 'admin-request' %}" class="btn btn-secondary">No, go back</a>
  </form>
</div>
{% endblock %}