{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="page-header">SEASON {{ current_season.season_number }}</h1>
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-8 summary-season">
            {{ current_season.summary | safe }}
        </div>
        <div class="col-md-4 text-center season-info">
            <table class="table-bordered mx-auto">
                <tbody>
                    <tr>
                        <td>SEASON {{ current_season.season_number }}</td>
                    </tr>
                    <tr class="image-container">
                        {% if debug_flag %}
                        <td><img class="img-fluid" src="{% static 'images/debug-image.jpg' %}" alt="season-image" width="150" height="550"></td>
                        {% else %}
                        <td><img class="img-fluid" src="{{ current_season.image.url }}" alt="season-image"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Episodes: {{ current_season.episode_count }}</td>
                    </tr>
                    <tr>
                        <td>First Aired: {{ current_season.start_date }}</td>
                    </tr>
                    <tr>
                        <td>Last Aired: {{ current_season.end_date }}</td>
                    </tr>
                    {% if current_season.previous_season %}
                    <tr>
                        <td>Previous season: <a
                                href="{% url 'Season' pk=current_season.previous_season.pk %}">{{ current_season.previous_season.season_number }}</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if current_season.next_season %}
                    <tr>
                        <td>Next season: <a
                                href="{% url 'Season' pk=current_season.next_season.pk %}">{{ current_season.next_season.season_number }}</a>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container">
    <h2>Episodes</h2>
    {% if request.user.is_authenticated %}
    <div>
        <a href="{% url 'add-episode' %}"><button class="btn btn-success mb-2">Add Episode</button></a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
    <div class="row">
        <div class="table-responsive-md">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Overall Episode</th>
                        <th>Season episode</th>
                        <th>Title</th>
                        <th>Air date</th>
                        <th>Star Date</th>
                    </tr>
                </thead>
                {% for episode in episodes %}
                <tbody>
                    <tr>
                        <td class="ep-font">{{ episode.overall_episode_number }}</td>
                        <td class="ep-font">{{ episode.season_episode_number }}</td>
                        <td class="ep-font">"<a href="{% url 'Episode' episode.id %}">{{ episode.title }}</a>"</td>
                        <td class="ep-font">{{ episode.air_date }}</td>
                        <td class="ep-font">{{ episode.stardate }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="ep-font">{{ episode.synopsis }}</td>
                    </tr>
                    <tr>
                        {% if request.user.is_authenticated %}
                        <td colspan="1" class="ep-font"><a href="{% url 'update-episode' episode.id %}"><button class="btn btn-primary">Edit
                                    Episode</button></a></td>
                        <td colspan="1" class="ep-font"><a href="{% url 'delete-episode' episode.id %}"><button class="btn btn-danger">Delete
                                    Episode</button></a></td>
                        <td colspan="1" class="ep-font ">Created on {{ episode.created|date:'Y-m-d' }}</td>
                        <td colspan="2" class="ep-font">Edited on {{ episode.updated|date:'Y-m-d' }}</td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}