{% extends "base.html" %}

{% block content %}
<h1>SEASON {{ season.season_number }}</h1>
{% if request.user.is_authenticated %}
    <a href="{% url 'add-episode' %}">Add Episode</a>
{% endif %}

{% for episode in episodes %}
{% if request.user.is_authenticated %}
    <div>
    <a href="{% url 'update-episode' episode.id %}">Edit</a>
    <a href="{% url 'delete-episode' episode.id %}">Delete</a>
{% endif %}
    <p>Season {{ episode.season }}</p>
    <p>Season episode {{ episode.season_episode_number }}</p>
    
    <a href="{% url 'Episode' episode.id %}">{{ episode.title }}</a>
    <hr>
    </div>
{% endfor %}

{% endblock %}